
.album-card{
    /* width:300px; */
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    width: 180px;
    height: 270px;
    padding: 1vh 1vw;
   
    
    /* gap:10px; */
    /* align-items: center; */

}
.album-card:hover{
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
}

.album-card img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.album-card h2{
    font-size: 1.1vw;
    color:rgb(239, 237, 237);
}
.album-card p{
    font-size: 0.9vw;
    color:rgb(177, 176, 176);
}