
.singer-card{
    /* width:300px; */
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    /* align-items: center; */
    width: 200px;
    height: 210px;
    padding: 1vh 1vw;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
   
    
    /* gap:10px; */
    /* align-items: center; */

}
.singer-card:hover{
    /* box-shadow: 2px 2px 5px white; */
    transform: scale(1.1);
    
}

.singer-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border-radius: 5px; */
}

.singer-card h2{
    font-size: 1.1vw;
    color:rgb(222, 217, 217);
}
.singer-card p{
    font-size: 0.8vw;
    color:gray;
}